@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans");
@import "imports/theme";
html{
  background-color: $colour1;
}
body{
  >div{
    max-width: 1280px;
    margin: 0 auto;
  }
}
h1,h2,h3,h4,h5{
  font-family: 'Fjalla One', sans-serif;
  color: $colour5;
}
p,a,b,ol,ul{
  font-family: 'Noto Sans', sans-serif;
  color: $colour3;
}
.hello {
  color: green;
}