%html
  %head
    %meta{ :charset => "utf-8" }
    %link{ :href => "style.css", :rel => "stylesheet"}
    %title Sup there
  %body
    %div
      .uk-grid
        %div
          %h1.uk-heading-bullet Howdy
          %h1.hello hi
    %script{ :src => "bundle.js" }